In [1]:
import pandas as pd, numpy as np, datetime as dt

In [2]:
df = pd.read_csv('311dataset_reduced.csv',header=None)

In [3]:
df.columns = ['ID','StartDate','CloseDate','Dept','Type','Detail','MoreDetail','Zip','DueDate']

In [4]:
df['StartDate'] = df['StartDate'].str.replace("'","")
df['CloseDate'] = df['CloseDate'].str.replace("'","")
df['Dept'] = df['Dept'].str.replace("'","")
df['Type'] = df['Type'].str.replace("'","")
df['Detail'] = df['Detail'].str.replace("'","")
df['MoreDetail'] = df['MoreDetail'].str.replace("'","")
df['Zip'] = df['Zip'].str.replace("'","")
df['DueDate'] = df['DueDate'].str.replace("'","")
df["CloseDate"] = df["CloseDate"].map(str.strip)
df["DueDate"] = df["DueDate"].map(str.strip)

KeyboardInterrupt:

In [ ]:
df['DueDate'] = df['DueDate'].str.replace("\t","")

In [ ]:
def ConvDate(x):
    try:
        return dt.datetime.strptime(x, '%m/%d/%Y %I:%M:%S %p')
    except:
        return pd.NaT
df['StartDate'] = df['StartDate'].apply(ConvDate)
df['CloseDate'] = df['CloseDate'].apply(ConvDate)
df['DueDate'] = df['DueDate'].apply(ConvDate)

In [ ]:
df.head()

In [ ]:
df.dtypes

In [9]:
def IsClosed(x):
    if pd.isnull(x):
        return False
    else:
        return True

In [10]:
df['IsClosed'] = df['CloseDate'].apply(IsClosed)

In [11]:
df['WeekDay'] = df['StartDate'].dt.dayofweek

In [12]:
df.head()

,ID,StartDate,CloseDate,Dept,Type,Detail,MoreDetail,Zip,DueDate,IsClosed,WeekDay
0,10564222,2015-10-01,2015-10-06,DOHMH,Rodent,Mouse Sighting,1-2 Family Dwelling,10038,2008-03-22 22:39:30,True,3
1,10693408,2015-10-01,2015-10-06,DOHMH,Rodent,Mouse Sighting,Catch Basin/Sewer,10038,2008-04-10 22:32:27,True,3
2,10836749,2015-10-01,2015-10-06,DOHMH,Rodent,Signs of Rodents,1-2 Family Dwelling,10038,2008-05-01 02:57:48,True,3
3,10836967,2015-10-01,2015-10-06,DOHMH,Rodent,Signs of Rodents,1-2 Family Dwelling,10038,2008-05-01 02:34:06,True,3
4,11051177,2015-10-01,2015-10-06,DOHMH,Rodent,Mouse Sighting,1-2 Family Dwelling,10038,2008-05-30 02:45:22,True,3

In [13]:
df['TimeToClose'] = df['CloseDate'] - df['StartDate']
df['TimePredicted'] = df['DueDate'] - df['StartDate']

In [14]:
df.to_csv('311dataset_reduced_finish.csv')

In [16]:
df.head(10)

,ID,StartDate,CloseDate,Dept,Type,Detail,MoreDetail,Zip,DueDate,IsClosed,WeekDay,TimeToClose,TimePredicted
0,10564222,2015-10-01,2015-10-06 00:00:00,DOHMH,Rodent,Mouse Sighting,1-2 Family Dwelling,10038,2008-03-22 22:39:30,True,3,5 days 00:00:00,-2749 days +22:39:30
1,10693408,2015-10-01,2015-10-06 00:00:00,DOHMH,Rodent,Mouse Sighting,Catch Basin/Sewer,10038,2008-04-10 22:32:27,True,3,5 days 00:00:00,-2730 days +22:32:27
2,10836749,2015-10-01,2015-10-06 00:00:00,DOHMH,Rodent,Signs of Rodents,1-2 Family Dwelling,10038,2008-05-01 02:57:48,True,3,5 days 00:00:00,-2709 days +02:57:48
3,10836967,2015-10-01,2015-10-06 00:00:00,DOHMH,Rodent,Signs of Rodents,1-2 Family Dwelling,10038,2008-05-01 02:34:06,True,3,5 days 00:00:00,-2709 days +02:34:06
4,11051177,2015-10-01,2015-10-06 00:00:00,DOHMH,Rodent,Mouse Sighting,1-2 Family Dwelling,10038,2008-05-30 02:45:22,True,3,5 days 00:00:00,-2680 days +02:45:22
5,11413576,2015-10-01,2015-10-06 00:00:00,DOHMH,Rodent,Mouse Sighting,3+ Family Mixed Use Building,10038,2008-07-17 23:23:49,True,3,5 days 00:00:00,-2632 days +23:23:49
6,11463895,2015-10-01,2015-10-16 16:47:55,DOHMH,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,10001,2008-07-24 17:16:55,True,3,15 days 16:47:55,-2625 days +17:16:55
7,11463896,2015-10-01,NaT,DOHMH,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11426,2008-07-24 17:18:40,False,3,NaT,-2625 days +17:18:40
8,11464334,2015-10-01,2015-10-06 00:00:00,DOHMH,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,11372,2008-07-24 16:48:08,True,3,5 days 00:00:00,-2625 days +16:48:08
9,11464394,2015-10-01,2015-10-16 16:23:21,DOHMH,Rodent,Rat Sighting,Vacant Building,11433,2008-07-24 17:23:17,True,3,15 days 16:23:21,-2625 days +17:23:17

In [165]:
df['TimeToClose_f'] = df['TimeToClose'] / timedelta(days=1)
df['TimePredicted_f'] = df['TimePredicted'] / timedelta(days=1)

In [169]:
from datetime import timedelta
df1 = df[(~pd.isnull(df['TimeToClose_f'])) & (~pd.isnull(df['TimePredicted_f'])) & (df['TimeToClose_f'] >= 0.0) & (df['TimePredicted_f'] >= 0.0)]

In [170]:
df1.head(5)

,ID,StartDate,CloseDate,Dept,Type,Detail,MoreDetail,Zip,DueDate,IsClosed,WeekDay,TimeToClose,TimePredicted,TimeToClose_f,TimePredicted_f
43,15626884,2010-01-01 00:16:32,2010-01-01 01:16:16,NYPD,Blocked Driveway,No Access,Street/Sidewalk,11207,2010-01-01 08:16:32,True,4,00:59:44,08:00:00,0.041481,0.333333
44,15626887,2010-01-01 00:59:56,2010-01-01 04:40:35,NYPD,Blocked Driveway,No Access,Street/Sidewalk,11234,2010-01-01 08:59:56,True,4,03:40:39,08:00:00,0.153229,0.333333
45,15626888,2010-01-01 01:06:23,2010-01-01 05:58:29,NYPD,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10025,2010-01-01 09:06:23,True,4,04:52:06,08:00:00,0.202847,0.333333
46,15626889,2010-01-01 01:12:15,2010-01-01 03:11:38,NYPD,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11420,2010-01-01 09:12:15,True,4,01:59:23,08:00:00,0.082905,0.333333
47,15626892,2010-01-01 01:44:00,2010-01-01 02:21:14,NYPD,Blocked Driveway,No Access,Street/Sidewalk,11385,2010-01-01 09:44:00,True,4,00:37:14,08:00:00,0.025856,0.333333

In [212]:
df1['DiffPred_f'] = df1['TimePredicted_f'] - df1['TimeToClose_f']
df1.to_csv('311dataset_reduced_withdiff.csv')

In [173]:
df1.head()

,ID,StartDate,CloseDate,Dept,Type,Detail,MoreDetail,Zip,DueDate,IsClosed,WeekDay,TimeToClose,TimePredicted,TimeToClose_f,TimePredicted_f,DiffPred_f
43,15626884,2010-01-01 00:16:32,2010-01-01 01:16:16,NYPD,Blocked Driveway,No Access,Street/Sidewalk,11207,2010-01-01 08:16:32,True,4,00:59:44,08:00:00,0.041481,0.333333,0.291852
44,15626887,2010-01-01 00:59:56,2010-01-01 04:40:35,NYPD,Blocked Driveway,No Access,Street/Sidewalk,11234,2010-01-01 08:59:56,True,4,03:40:39,08:00:00,0.153229,0.333333,0.180104
45,15626888,2010-01-01 01:06:23,2010-01-01 05:58:29,NYPD,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10025,2010-01-01 09:06:23,True,4,04:52:06,08:00:00,0.202847,0.333333,0.130486
46,15626889,2010-01-01 01:12:15,2010-01-01 03:11:38,NYPD,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11420,2010-01-01 09:12:15,True,4,01:59:23,08:00:00,0.082905,0.333333,0.250428
47,15626892,2010-01-01 01:44:00,2010-01-01 02:21:14,NYPD,Blocked Driveway,No Access,Street/Sidewalk,11385,2010-01-01 09:44:00,True,4,00:37:14,08:00:00,0.025856,0.333333,0.307477

In [192]:
f = {'ID':['count'],'TimeToClose_f':['mean'],'TimePredicted_f':['mean'],'DiffPred_f':['mean']}
df2 = df1.groupby(['Dept','Type']).agg(f)

In [196]:
df3 = df2.reset_index()
df4 = df3.transpose().reset_index().transpose()
df4.columns = ['Dept','Type','TimeToClose_mean','DiffPred_mean','count','TimePredicted_mean']

In [197]:
df4 = df4[(df4.index != 'level_0') & (df4.index != 'level_1')]

In [213]:
df4.to_csv('311dataset_reduced_DeptType.csv')

In [199]:
f = {'ID':['count'],'TimeToClose_f':['mean'],'TimePredicted_f':['mean'],'DiffPred_f':['mean']}
df5 = df1.groupby(['Dept']).agg(f)

In [209]:
df6 = df5.reset_index()
df7 = df6.transpose().reset_index().transpose()
df7.columns = ['Dept','TimePredicted_mean','TimeToClose_mean','count','DiffPred_mean']
df7.head()

           Dept TimePredicted_mean TimeToClose_mean   count DiffPred_mean
level_0    Dept    TimePredicted_f    TimeToClose_f      ID    DiffPred_f
level_1                       mean             mean   count          mean
0         3-1-1           8.271936          3.08513       4      5.186806
1           ACS           7.949595        0.9500694       1      6.999525
2           DCA           16.69448          20.0537  129782     -3.359221

In [210]:
df7 = df7[(df7.index != 'level_0') & (df7.index != 'level_1')]

In [214]:
df7.to_csv('311dataset_reduced_Dept.csv')