In [1]:
import pandas as pd, numpy as np, datetime as dt

In [2]:
df = pd.read_csv('311dataset_reduced.csv',header=None)

In [3]:
df.columns = ['ID','StartDate','CloseDate','Dept','Type','Detail','MoreDetail','Zip','DueDate']

In [19]:
df['Zip'] = df['Zip'].str.replace(" ","")

In [20]:
f = {'ID':['count']}
df2 = df.groupby(['Zip']).agg(f)

In [21]:
df2.shape

(2137, 1)

In [30]:
df2.index[379]

'10001'

In [35]:
df2.index[1000]

'12046'

In [45]:
df2 = df2.reset_index()

In [49]:
df2.columns = ('Zip','ID')

In [52]:
df2 = df2[df2.index > 0]

In [67]:
df2== df2[df2.apply(lambda x: len(x['Zip']) == 5 & int(x['Zip']) >= 10001 & int(x['Zip']) <= 11697, axis=1)]

ValueError: Can only compare identically-labeled DataFrame objects

In [69]:
df2 = df2[(df2['Zip'].str.len() == 5)]

In [92]:
df2 = df2.convert_objects(convert_numeric = True)

In [99]:
df2 = df2[df2.applymap(np.isreal)['Zip']]

In [106]:
df2 = df2[~df2['Zip'].isnull()]

In [123]:
df2 = df2[df2.apply(lambda x: (x['Zip'] >= 10001.0) & (x['Zip'] <= 11697.0), axis=1)]

In [125]:
df2 = df2.reset_index(drop=True)

In [120]:
df2['Zip'][0] >= 10001

False

In [127]:
df2.shape

(425, 2)

In [137]:
df2 = df2.sort(['ID'],ascending=False)

In [138]:
df2

       Zip      ID
279  11226  194508
120  10467  164649
111  10458  145238
260  11207  143197
106  10453  134497
274  11221  130794
121  10468  130079
110  10457  125656
105  10452  122973
261  11208  121324
285  11233  117433
266  11213  116488
30   10031  114728
109  10456  113980
329  11385  112733
278  11225  111686
31   10032  110672
256  11203  108833
269  11216  107428
265  11212  107061
282  11230  103814
125  10472   97287
287  11235   95566
39   10040   93853
264  11211   93480
115  10462   91928
290  11238   90949
286  11234   90160
273  11220   90047
116  10463   88160
..     ...     ...
75   10278       1
74   10224       1
73   10177       1
72   10174       1
71   10165       1
331  11390       1
333  11405       1
68   10159       1
65   10152       1
64   10150       1
57   10115       1
95   10367       1
96   10400       1
97   10402       1
301  11343       1
134  10507       1
132  10505       1
297  11253       1
298  11317       1
299  11321       1
300  11324       1
303  11350       1
98   10412       1
129  10501       1
103  10450       1
102  10444       1
101  10435       1
100  10432       1
99   10427       1
212  10965       1

[425 rows x 2 columns]

In [ ]:
import matplotlib.pyplot as plt
mean = [0, 0]
cov = [[1, 0], [0, 100]] 
x, y = np.random.multivariate_normal(mean, cov, 5000).T
plt.plot(x, y, 'x')
plt.axis('equal')
plt.show()